/.github       export-ignore
/.journal      export-ignore
/.gitignore    export-ignore
/AGENTS.md     export-ignore
/Makefile      export-ignore
/build         export-ignore
/legacy        export-ignore
/mk            export-ignore
/mkdocs.yml    export-ignore
/scripts       export-ignore
/site          export-ignore
/tests         export-ignore
